a {
  color: #000;
}

.clearfix::after, .article::after, .wrap::after, .col-last::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.left, .caption-wrap-left {
  float: left;
}

#logo {
  margin: 20px 0 0;
}

.col-md-6 {
  padding-left: 25px;
  float: left;
}

.article {
  margin: 0 auto;
}

/*.separator {
  height: 16px;
  //width: 430px;
  margin: 20px 0;
  background: url(../images/image/separator.png) 50% center no-repeat;
}*/
.top-separator {
  margin-top: 0;
}

.content img.left, .article-body img.left, .content img[align="left"], .article-body img[align="left"], .content img[style*="float: left"], .article-body img[style*="float: left"], .caption-wrap-left {
  margin: .5em 1.5em 1em 0;
}

p, table {
  margin: 1.5em 0;
}

.dropcap {
  font-size: 3.2em;
  line-height: 1em;
  font-weight: bold;
  float: left;
  padding: 0 .25em 0 0;
  text-transform: uppercase;
}

.content img {
  padding: 4px;
  margin: 0 auto 20px;
  display: block;
  border: 1px solid #D6C2B2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

img.caption {
  width: 100px;
}

.ribbon {
  height: 43px;
  line-height: 41px;
  padding: 0 10px;
  display: inline-block;
  background: url("../images/image/ribbon.png");
  color: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr td:first-child {
  padding-left: 0;
}

td {
  padding: 5px 10px;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

.item img {
  width: 100%;
}

@media (max-width: 1106px) {
  .col-md-6 {
    width: 100%;
  }
}
