/*
Error: Invalid CSS after "  width:100%": expected "{", was ";"
        on line 226 of src/scss/layout.scss

221: <<<<<<< HEAD
222: img.shadow{
223: =======
224: img.width{
225: >>>>>>> dev
226:   width:100%;
227:   //height:476px;
228: }
229: .shadow{
230:   padding: 4px;
231:   margin: 10px;

Backtrace:
src/scss/layout.scss:226
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:400:in `run'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
A:/Web-Tools/Ruby/lib/ruby/gems/2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
A:/Web-Tools/Ruby/bin/sass:23:in `load'
A:/Web-Tools/Ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  width:100%\": expected \"{\", was \";\"\A         on line 226 of src/scss/layout.scss\A \A 221: <<<<<<< HEAD\A 222: img.shadow{\A 223: =======\A 224: img.width{\A 225: >>>>>>> dev\A 226:   width:100%;\A 227:   //height:476px;\A 228: }\A 229: .shadow{\A 230:   padding: 4px;\A 231:   margin: 10px;"; }
