li {
  list-style: none;
}

body {
  background-image: url(../images/image/cloth-bewitched.jpg);
}

#content-block {
  min-height: 400px;
  background: url("../images/image/menu.png") -974px 0 repeat-y;
}

#carte-top, #carte-bottom {
  height: 50px;
  background: url("../images/image/menu.png") -2px 0 no-repeat;
}

#carte-bottom {
  min-height: 60px;
  padding-bottom: 20px;
  background-position: -1946px 100%;
}

#header .wrap {
  position: relative;
  padding-bottom: 80px;
  background: url("../images/image/header-highlight-bewitched.jpg") 50% 0 no-repeat;
}

#nav {
  width: 444px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 20px;
  font-family: Helvetica, arial, sans-serif;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: url("../images/image/paper.jpg");
  border-width: 0 1px 1px;
  border-style: solid solid solid;
  border-color: #dcd7d2 #dcd7d2 #dcd7d2;
  border-top: 0;
}
#nav a {
  color: #000 !important;
}

#nav ul, #nav li {
  z-index: 20;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.menu > li {
  width: 110px;
  text-align: center;
}

#nav > nav > ul > li {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

#nav > nav > ul > li > ul {
  display: none;
}
#nav > nav > ul > li > ul li {
  background: url("../images/image/paper.jpg");
  /*&:nth-last-child(1){
    border-radius: 10px 0;
  }*/
}
#nav > nav > ul > li > ul li:hover {
  background: gold;
}

a.make-me-btn {
  margin: 3px 10px 20px 3px;
  font-weight: normal;
  color: #fff !important;
}

input[type="submit"], input[type="reset"], input[type="button"], button, a.make-me-btn, .button, .pagination a {
  display: inline-block;
  margin: 3px;
  vertical-align: top;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: normal;
  border: 0;
  color: #bababa;
  background: #292929 url(../images/image/buttons.png) 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

.content img.left, .article-body img.left, .content img[align="left"], .article-body img[align="left"], .content img[style*="float: left"], .article-body img[style*="float: left"], .caption-wrap-left {
  margin: .5em 1.5em 1em 0;
}

.menu-btn {
  display: none;
}

#content-block {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 991px) {
  #content-block {
    min-height: 400px;
    background: url("../images/image/menu.png") 50% 0 repeat-y;
  }

  #carte-top {
    background-position: -107px;
  }

  #carte-bottom {
    background-position: -2051px;
  }
}
@media (max-width: 765px) {
  #carte-top, #carte-bottom {
    background: none;
  }

  .article, .article-body {
    margin: 0 auto;
  }

  .content {
    width: 100%;
  }

  .col-md-6 {
    margin: 0 auto;
  }
}
@media (max-width: 688px) {
  #nav {
    clear: both;
    width: 100%;
    margin-top: 65px;
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    height: auto;
    overflow: hidden;
  }

  .menu-btn {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 21;
    right: 5px;
    top: 30px;
  }
  .menu-btn span {
    font-size: 1.5em;
    color: #fff;
  }

  .menu {
    max-height: 0;
    overflow-y: hidden;
    height: auto;
  }

  .menu > li {
    z-index: 20;
    width: 100%;
    height: auto !important;
    background: url("../images/image/paper.jpg");
  }

  #logo {
    height: 60px;
    width: 230px;
  }

  #header .wrap {
    background: none;
    height: 30px;
  }
}
hr {
  height: 1px;
  background: #e9e9e9;
  border: 0 none;
  margin: 15px 0;
}
