doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 川茶蜀汤-蒙顶绿茶
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/layout.css')
    //link(rel='stylesheet', href='css/index.css')
  body
    header#header.container.clearfix
      .wrap
        #logo.left
          a(href='index.html')
            img(src='images/image/logos/logo.png')
        #nav
          nav.jquery-menu.clearfix
            ul.menu
              li.current
                a(href="index.html") 首页
              li.parent
                a(href='javascript:;') 蒙顶景区
                ul
                  li 天盖寺
                  li 蒙泉井
                  li 蒙顶山发展
              li.parent
                a(href='javascript:;') 蒙顶茶
                ul
                  li 蒙顶茶
                  li 蒙顶甘露
                  li 蒙顶黄茶
                  li 茶的分类
              li.parent
                a(href="javascript:;") 茶文化
                ul
                  li 龙行十八式
                  li 茶具
                  li 茶文化视频
        .menu-btn
          span.glyphicon.glyphicon-th-list
        //Id Nav End
    //Header End

    #carte.container
      #carte-top.row.wrap
      //#carte-top End

      #content-block.row.wrap
        .row
          //.separator.col-md-6.top-separator.content.left
          //.separator.col-md-6.top-separator.content.right
          #main.content.col-md-12
            p
              span.dropcap 天盖寺
              |位于蒙山五峰之下，因其史载：蒙顶山雨偏多，俗称漏天。故以“漏天之盖”而得名。寺始建于汉代，宋淳熙年间重建，占地8000平方米，寺周12株银杏参天蔽日，该银杏据传为西汉药农吴理真在蒙顶山亲手所植始植14株。天盖寺前始刻于大清雍正元年的“天下大蒙山碑记”出自于中国第一部地理志《尚书》，是蒙顶山茶文化的有力估证。天盖寺主殿茶神殿中间为时代建筑古柱大殿。西汉药农吴理真在此结庐种植仙茶。故正殿塑吴理真全身坐像，右塑茶圣羽，左塑宋朝雅州知府雷简夫。殿内陈列历代茶具和有关文史标本。游人至此，休憩品茗，听茶文化介绍，深有雅趣。

        .row
          .col-md-6
            a.thumbnail
              img(src='images/demo/tiangai/7.jpg', width='100%')
          .col-md-6
            .row
              .col-sm-6
                a.thumbnail
                  img(src='images/demo/tiangai/2.jpg')
              .col-sm-6
                a.thumbnail
                  img(src='images/demo/tiangai/3.jpg')
            .row
              .col-sm-6
                a.thumbnail
                  img(src='images/demo/tiangai/4.jpg')
              .col-sm-6
                a.thumbnail
                  img(src='images/demo/tiangai/5.jpg')
        .row
          .col-md-12
            h1 碑林
        hr

        .row
          .col-md-12 从天盖寺后门沿上行走，呈现在眼前的是一排并列有序的碑碣，碑碣上镌刻着著名书法家王学仲、吴丈蜀、王澄、李半黎、和知名画家吴一峰、秦学恭等人手迹，诸体皆备，风格独特，所撰诗文格调高古，形成一个我们现在所看到的典雅的茶诗书法长廊。
        .row
          .col-sm-4
            img.shadow(src='images/demo/tiangai/21.jpg')
            img.shadow(src='images/demo/tiangai/25.jpg')
          .col-sm-4
            img.shadow(src='images/demo/tiangai/22.jpg')
            img.shadow(src='images/demo/tiangai/24.jpg')
          .col-sm-4
            img.shadow(src='images/demo/tiangai/23.jpg')
            img.shadow(src='images/demo/tiangai/26.jpg')
        //.row
          .col-sm-4
            img.shadow(src='images/demo/tiangai/24.jpg')
          .col-sm-4
            img.shadow(src='images/demo/tiangai/25.jpg')
          .col-sm-4
            img.shadow(src='images/demo/tiangai/26.jpg')


      #carte-bottom.row.wrap(style='background=red')
        .col-md-6
          h5 四川广播电视大学 媒体制作部
      // #carte-bottom End