doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 川茶蜀汤-蒙顶绿茶
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/layout.css')
    //- link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/timeline.css')
  body
    header#header.container.clearfix
      .wrap
        #logo.left
          a(href='index.html')
            img(src='images/image/logos/logo.png')
        #nav
          nav.jquery-menu.clearfix
            ul.menu
              li.current
                a(href="index.html") 首页
              li.parent
                a(href='javascript:;') 蒙顶景区
                ul
                  li
                    a(href='tiangai.html') 天盖寺
                  li
                    a(href='mengquan.html') 蒙泉井
                  li
                    a(href='timeline.html') 蒙顶山发展
              li.parent
                a(href='javascript:;') 蒙顶茶
                ul
                  li 蒙顶茶
                  li 蒙顶甘露
                  li 蒙顶黄茶
                  li 茶的分类
              li.parent
                a(href="javascript:;") 茶文化
                ul
                  li 龙行十八式
                  li 茶具
                  li 茶文化视频
        .menu-btn
          span.glyphicon.glyphicon-th-list
        //Id Nav End
    //Header End 

    #carte.container
      #carte-top.row.wrap
      //#carte-top End
      #content-block.row.wrap
          .col-sm-12
            .row
              .col-xs-3
                .one.box
                  h1 西汉
              .col-xs-9
                .text
                  span.
                    甘露三年（公元前53年）蒙山县人 吴理真在蒙顶山驯化野生茶树，研究 制茶工艺，开创了世界人工植茶的先 河。蒙顶山，是世界上有文字记载的人工最早的地方。
          .col-sm-12
            .row
              .col-xs-3
                .tow.box
                  h1 唐代
              .col-xs-9
                .text
                  span.
                    玄宗天宝元年（公元742年） 蒙顶茶开始入贡皇室。
                    宪宗元和8年（公元813年） 李吉甫撰《元和郡县图志》：严道县蒙山在县南十里，今每岁贡茶为蜀之最。
                    公元816年 杨晔《膳夫经手录》记：“蜀茶得名蒙顶，于元和以前束帛不能易一斤先春蒙顶。”
                    公元825年 李肇撰《唐国史补》：剑南有蒙顶石花，或小方或散芽，号为第一。
                    文宗开成5年（公元840年） 蒙顶茶传入日本。 
          .col-sm-12
            .row
              .col-xs-3
                .three.box
                  h1 宋代
              .col-xs-9
                .text
                  span.
                    神宗熙宁7年（公元1074年）、9年（公元1076年）提举茶马司先后在名山、百丈设置“茶场”，尽“榷”全县茶叶。
                    神宗元丰4年（公元1081年） 皇帝下诏：“专以雅州名山茶为易马用”。
                    徽宗建中靖国元年（公元1107年） 重申神宗原诏：“用名山茶易蕃马”并“定为永法”。
                    孝宗淳熙13年（公元1186年） 蒙顶茶创始人吴理真，被封为“甘露普慧妙济禅师”。上清峰的七株“仙茶”，进一步神化，列为正贡茶。并在该处修建石栏围护，取名“皇茶园”。
          .col-sm-12
            .row
              .col-xs-3
                .four.box
                  h1 明代
              .col-xs-9
                .text
                  span.
                    蒙顶贡茶，改制芽茶进贡。蒙饼制艺，开始改为炒青，重色、香、味、形。所制黄芽、石花、芽白、雀舌驰誉全国。创制“甘露”名茶，质量超过唐、宋时代的“石花”。
                    李时珍《本草纲目》记：“真茶性冷，唯雅州蒙山出者温而主祛疾。
          .col-sm-12
            .row
              .col-xs-3
                .five.box
                  h1 清代
              .col-xs-9
                .text
                  span.
                    蒙顶“仙茶”演变为皇室祭祀太庙之物，“皇茶园”外所产茶叶，开始列为正贡，副贡和陪贡。
                    德宗光绪32年（公元1906年） 名山王恒升、李裕公等18家茶商，为抵制印茶侵销西藏，集资5万两白银筹建“名山茶叶有限公司”。
      #carte-bottom.row.wrap
        .col-md-6
          h5 四川广播电视大学 媒体制作部



    script(src='js/jquery-1.11.0.min.js')
    script(src='js/live.js')
    script(src='js/timeline.js')