doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 川茶蜀汤-蒙顶绿茶
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/layout.css')
    link(rel='stylesheet', href='css/index.css')
  body
    header#header.container.clearfix
      .wrap
        #logo.left
          a(href='index.html')
            img(src='images/image/logos/logo.png')
        #nav
          nav.jquery-menu.clearfix
            ul.menu
              li.current
                a(href="index.html") 首页
              li.parent
                a(href='javascript:;') 蒙顶景区
                ul
                  li
                    a(href='tiangai.html') 天盖寺
                  li
                    a(href='mengquan.html') 蒙泉井
                  li
                    a(href='timeline.html') 蒙顶山发展
              li.parent
                a(href='javascript:;') 蒙顶茶
                ul
                  li 蒙顶茶
                  li 蒙顶甘露
                  li 蒙顶黄茶
                  li 茶的分类
              li.parent
                a(href="javascript:;") 茶文化
                ul
                  li 龙行十八式
                  li 茶具
                  li 茶文化视频
        .menu-btn
          span.glyphicon.glyphicon-th-list
        //Id Nav End
    //Header End

    #carte.container
      #carte-top.row.wrap
      //#carte-top End
      #content-block.row.wrap
        .row
          .col-md-5

          .col-md-2

          .col-md-5





      #carte-bottom.row.wrap
        .col-md-6
          h5 四川广播电视大学 媒体制作部